{% extends 'base.html' %}
{% load static %}
{% block c1 %}

<h1 class="text-dark text-center">Change Password</h1>

<form method="post" action="../change_password/" class="form-group" style="width: 500px; border: 2px solid #040404;" onsubmit="return D(this)">

    {% csrf_token %}
    <p>Old Password <input type="password" name="T1" class="form-control" id="T1"></p>
    <p>New Password <input type="password" name="T2" class="form-control" id="T2">show password<input type="checkbox" onclick="PPP()"></p>

    <p>Confirm Password <input type="password" name="T3" class="form-control" id="T3"></p>
    <p> <button class="btn btn-success btn-block" type="submit">Change</button></p>
</form>

{%  if msg %}
    <h3>{{msg}}</h3>

{% endif %}

{% endblock %}